.tit{
	background: #42FF51;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 4px 6px 14px #000000;
	margin: .5em .5em .5em .5em;
	padding: .5em .5em .5em .5em;
	width: 90%;
	text-align: center; 

}
.subtit{
	background: #32aa25;
	border-radius: 4px 4px 104px 4px;
	box-shadow: 8px 6px 11px #000000;
	margin: .5em .5em .5em .5em;
	padding: .5em .5em .5em .5em;
}